@import "../../theme/variables.scss";

.overview {
  background-color: $brand-info;
  color: #FFF;
}

.overview .github {
  margin-top: 30px;
  color: #FFF;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}
